@model IEnumerable<Biblioteca_Crud.Models.Pedido>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Lista de Pedidos</h1>

<div class="d-flex justify-content-end mb-3">
    <a class="btn btn-success" asp-action="Create">
        <i class="bi bi-plus"></i> Crear Nuevo Pedido
    </a>
</div>

<table class="table table-success table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th> Acciones </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    <a class="text-warning" asp-action="Edit" asp-route-id="@item.Id">
                        <i class="bi bi-pencil-fill"></i> Editar
                    </a> |
                    <a class="text-black" asp-action="Details" asp-route-id="@item.Id">
                        <i class="bi bi-eye-fill"></i> Detalles
                    </a> |
                    <a class="text-danger" asp-action="Delete" asp-route-id="@item.Id">
                        <i class="bi bi-trash-fill"></i> Eliminar
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>