@model Biblioteca_Crud.Models.Cliente

@{
    ViewData["Title"] = "Detalles";
}

<a class="btn btn-danger" asp-action="Index"><i class="bi bi-arrow-return-left"></i> Regresar a la lista</a>

<div class="container d-flex flex-column min-vh-100">
    <div class="row justify-content-center flex-grow-1">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body text-center">
                    <h4>Cliente</h4>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-4 text-end">
                            @Html.DisplayNameFor(model => model.Nombre)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Nombre)
                        </dd>
                        <dt class="col-sm-4 text-end">
                            @Html.DisplayNameFor(model => model.CorreoElectronico)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.CorreoElectronico)
                        </dd>
                        <dt class="col-sm-4 text-end">
                            @Html.DisplayNameFor(model => model.Telefono)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Telefono)
                        </dd>
                    </dl>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-start">
                        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-success">Editar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="border-top footer text-muted mt-auto">
        <div class="container text-center">
            &copy; 2024 Biblioteca_Crud
        </div>
    </footer>
</div>